<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {{> header}}
        <h3>Welcome {{personName}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit esse tempore beatae qui possimus eligendi nulla,
            voluptate fugiat cum explicabo consequatur natus cumque nam hic in. Nihil, velit natus. Adipisci.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora dolores, voluptatum dicta incidunt laborum debitis
            harum iure esse possimus non adipisci placeat animi porro ducimus. Necessitatibus ratione quia, qui asperiores
            impedit repellendus amet, ea repudiandae molestias quas earum architecto laboriosam?</p>
        {{> footer}}    
    </div>
</body>

</html>